body {
	font-family: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.section {
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid #000;
	background-image: url('/prep/img/blueback.jpg');
	background-position: 0px 0px;
	background-size: 1500px;
}

.heading {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.heading-2 {
	margin-top: 0px;
	float: right;
	clear: right;
}

.div-block-2 {
	position: relative;
	margin-top: 1px;
	margin-right: 14px;
	padding-top: 20px;
	padding-right: 120px;
}

.image {
	margin-top: -263px;
}

.button {
	position: relative;
	right: 0px;
	margin-top: 44px;
	margin-right: 126px;
	margin-left: 0px;
	padding-right: 25px;
	padding-left: 25px;
	float: right;
	clear: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}

.heading-3 {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.container {
	border: 1px none #d4d4d4;
}

.navbar {
	border: 1px solid #d4d4d4;
	background-color: #fff;
}

.heading-4 {
	margin-bottom: 20px;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 30px;
}

.section-2 {
	margin-top: 44px;
	padding-top: 49px;
}

.nav-menu {
	margin-top: 2px;
}

.image-2 {
	width: 80%;
	height: 80%;
}

.section-3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 119px;
}

.heading-5 {
	display: block;
	margin: 0px auto;
	padding-top: 0px;
	padding-left: 0px;
	float: none;
	color: #fff;
	font-weight: 400;
	text-align: center;
}

.dif_block {
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 0px;
}

.dif_block-heading {
	display: block;
	color: #fff;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}

.image-3 {
	text-align: center;
}

.description {
	display: block;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.row {
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.heading-6 {
	display: block;
	margin: 0px auto;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}

.tagline {
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.square-img {
	position: relative;
	padding-top: 100%;
	margin: 0 auto;
}
.square-img img {
	position: absolute;
	top: 0;
	left: 0;
}


.lemdifimg {
	border-radius: 10px;
	box-shadow: 11px 11px 20px 0 rgba(0, 0, 0, .5);
}

.heading-7 {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 61px;
	font-weight: 100;
	text-align: center;
}

.heading-8 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
}

.button-2 {
	display: block;
	text-align: center;
}

.button-3 {
	display: block;
	float: none;
	clear: none;
	text-align: center;
}

.button-4 {
	display: inline-block;
	margin: 10px 20px;
	padding: 15px 80px;
	float: none;
	border: 2px solid #fff;
	border-radius: 12px;
	background-color: #fa4e09;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}

.button-4:hover {
	border-color: #fa4e09;
	background-color: #fff;
	color: #fa4e09;
}

.button-5 {
	margin: 10px 20px;
	padding: 10px 35px;
	float: none;
	clear: left;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: #035b9b;
	font-size: 20px;
}

.button-5:hover {
	border-color: #4c7eb2;
	background-color: #fff;
	color: #4c7eb2;
}

.hero {
	margin-top: 30px;
	margin-bottom: 30px;
}

.container-3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.team {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px none #555252;
}

.our-partners {
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid hsla(0, 0%, 49%, .9);
	border-bottom: 1px solid #555252;
}

.heading-9 {
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: 400;
	text-align: center;
}

.heading-10 {
	margin-top: 0px;
	margin-bottom: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: 400;
	text-align: center;
}

.row-2 {
	margin-bottom: 30px;
}

.column {
	text-align: left;
}

.call {
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: -webkit-linear-gradient(270deg, #035b9b, #035b9b);
	background-image: linear-gradient(180deg, #035b9b, #035b9b);
	text-align: center;
}

.text-block {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	float: left;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

.button-6 {
	width: 30%;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	float: right;
	border: 2px solid #fff;
	border-radius: 12px;
	background-color: #fa4e09;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.button-6:hover {
	border-color: #fff;
	background-color: #fff;
	color: #fa4e09;
}

.text-block-2 {
	margin-top: 0px;
	color: #fff;
	font-size: 16px;
}

.image-4 {
	padding-top: 23px;
}

.image-6 {
	border-radius: 12px;
	box-shadow: 0 1px 37px 8px rgba(0, 0, 0, .4);
}

.lemma-difference {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url('/prep/img/blueback.jpg');
	background-position: 0px 0px;
	background-size: cover;
	font-style: normal;
	font-weight: 100;
}

.tab {
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.heading-11 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #fff;
	font-weight: 400;
}

.text-block-3 {
	padding-top: 20px;
	color: #fff;
	font-size: 16px;
}

.row-3 {
	margin: 0px;
}

.partner-image {
	margin-right: 20px;
	margin-bottom: 25px;
	margin-left: 20px;
}

.heading-12 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 400;
}

.heading-13 {
	font-weight: 400;
}

.column-2 {
	padding-right: 0px;
	padding-left: 0px;
}

.row-4 {
	margin-left: -8px;
	padding-right: 0px;
	padding-left: 0px;
}

.heading-14 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 400;
}

.section-head {
	color: #fff;
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
}

.heading-15 {
	font-weight: 100;
}

.heading-16 {
	font-weight: 400;
}

.heading-17 {
	color: #fff;
	font-weight: 400;
}

.heading-18 {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 58px;
	line-height: 54px;
	font-weight: 300;
	letter-spacing: 0px;
	text-transform: uppercase;
	animation-delay: .75s
}

.heading-19 {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	font-size: 58px;
	line-height: 58px;
	font-weight: 300;
	letter-spacing: 6px;
	text-decoration: none;
	text-transform: uppercase;
}

.heading-20 {
	color: #fff;
	font-weight: 400;
	text-align: center;
}

.section-6 {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.heading-21 {
	display: block;
	margin-top: 0px;
	margin-bottom: 40px;
	font-weight: 300;
}

.heading-22 {
	margin-top: 0px;
	margin-bottom: 60px;
	font-weight: 400;
}

.section-7 {
	margin-top: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-8 {
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid hsla(0, 2%, 61%, .77);
}

.section-9 {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: -webkit-linear-gradient(270deg, #035b9b, #035b9b);
	background-image: linear-gradient(180deg, #035b9b, #035b9b);
}

.section-10 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.tabs {
	margin-top: 60px;
}

.tabs-menu {
	margin-bottom: 60px;
	padding: 0px 10%;
}

.tabs-section {
	margin-top: 0px;
	margin-bottom: 0px;
}

.tabs-button {
	width: 30%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	padding: 8px 20px;
	border: 2px solid #035b9b;
	border-radius: 4px;
	background-color: transparent;
	font-family: Roboto, sans-serif;
	color: #fff;
	text-align: center;
}

.tabs-button.w--current {
	margin-left: 10px;
	border-radius: 4px;
	background-color: #035b9b;
	color: #000;
}

.heading-23 {
	margin-top: 0px;
	margin-bottom: 60px;
	color: #000;
	font-size: 32px;
	line-height: 36px;
	font-weight: 400;
}

.image-9 {
	float: none;
	clear: none;
}

.text-block-4 {
	margin-bottom: 60px;
}

.tab-text {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}

.text-block-5 {
	color: #035b9b;
	font-size: 16px;
}

.text-block-6 {
	color: #fff;
	font-size: 16px;
}

.text-block-7 {
	color: #035b9b;
	font-size: 16px;
}

.image-10 {
	position: absolute;
	left: 0px;
	top: 10%;
	right: 0px;
}

.image-11 {
	position: absolute;
	left: 0px;
	top: 100%;
	right: 0px;
}

.image-12 {
	position: absolute;
	left: 50%;
	top: 100%;
	right: 0px;
	margin-left: -20px;
}

.tab-indicator {
	position: absolute;
	left: 50%;
	top: 100%;
	right: 0px;
	display: none;
	margin-left: -20px;

	width: 40px;
	height: 15px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid rgb(3, 91, 155);
}

.tabbutton {
	width: 30%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	padding: 8px 20px;
	border: 2px solid #035b9b;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-linear-gradient(270deg, transparent, transparent);
	background-image: linear-gradient(180deg, transparent, transparent);
	color: #035b9b;
	text-align: center;
}

.tabbutton:hover {
	border-color: #fff;
	background-color: #fa4e09;
	color: #fff;
}

.tabbutton.w--current {
	background-image: -webkit-linear-gradient(270deg, #035b9b, #035b9b);
	background-image: linear-gradient(180deg, #035b9b, #035b9b);
	color: #fff;
}

.image-13 {
	position: absolute;
	left: 50%;
	top: 100%;
	right: 0px;
	margin-left: -20px;
}

.section-11 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.list-item {
	padding-top: 5px;
	padding-bottom: 50px;
	font-size: 16px;
	line-height: auto;
	list-style-type: square;
}

.list-item-2 {
	font-size: 16px;
}

.list-item-3 {
	font-size: 16px;
}

.edge-list {
	text-align: left;
	list-style-type: square;
}

.form {
	padding-right: 60px;
	padding-left: 60px;
}

.text-block-8 {
	padding-bottom: 5px;
	font-size: 20px;
	text-align: left;
}

.edge-text {
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.field-label {
	color: #fff;
}

.field-label-2 {
	color: #fff;
}

.footer-text {
	padding-bottom: 5px;
}

.image-14 {
	padding-bottom: 10px;
}

.nav-link {
	border: 4px solid transparent;
	font-weight: 300;
	text-decoration: none;
}

.nav-link:hover {
	border-top-color: #035b9b;
}

.nav-link.teamlink:hover {
	border-top-color: #16af41;
}

.nav-link.pod:hover {
	border-top-color: #ca171e;
}

.nav-link.blog:hover {
	border-top-color: #c2c929;
}

.nav-link.login:hover {
	border-color: #fff;
	border-radius: 6px;
	background-color: #fa4e09;
	color: #fff;
}

.image-15 {
	margin-left: -129px;
	padding-right: 148px;
}

.container-5 {
	padding-left: 0px;
}

.announcement-div {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: -webkit-linear-gradient(270deg, #035b9b, #035b9b);
	background-image: linear-gradient(180deg, #035b9b, #035b9b);
	font-size: 20px;
	font-weight: 300;
}

.text-block-11 {
	float: left;
}

.container-6 {
	padding-right: 0px;
	padding-left: 0px;
}

.announcement-text {
	padding-top: 12px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: none;
	clear: none;
	color: #fff;
	font-size: 16px;
	text-align: left;
}

.announcement-button {
	margin-right: 0px;
	padding-right: 40px;
	padding-left: 40px;
	border: 2px solid #fff;
	border-radius: 12px;
	background-image: -webkit-linear-gradient(270deg, #fa4e09, #fa4e09);
	background-image: linear-gradient(180deg, #fa4e09, #fa4e09);
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}

.announcement-button:hover {
	border-color: #fa4e09;
	background-image: -webkit-linear-gradient(270deg, #fff, #fff);
	background-image: linear-gradient(180deg, #fff, #fff);
	color: #fa4e09;
}

.image-16 {
	margin-top: 20px;
}

.image-17 {
	margin-top: 8px;
}

.tabgif {
	box-shadow: 0 0 10px 0 rgba(50,50,50,.3);
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}
.tabgif img, .tabgif video {
	display: block;
}
.textblock-12 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 300;
	letter-spacing: 0px;
	padding-bottom: 40px;
}

@media (max-width: 991px) {
	.heading-7 {
		padding-top: 2px;
		padding-bottom: 0px;
		font-size: 50px;
	}
	.heading-8 {
		font-size: 50px;
	}
	.button-4 {
		padding: 15px 40px;
	}
	.button-5 {
		padding: 15px 40px;
	}
	.hero {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.text-block {
		padding-top: 4px;
		font-size: 20px;
	}
	.heading-18 {
		font-size: 45px;
		letter-spacing: 2px;
	}
	.heading-19 {
		font-size: 46px;
	}
	.heading-21 {
		font-size: 22px;
	}
	.announcement-text {
		padding-top: 0px;
		padding-left: 0px;
		float: none;
		font-size: 20px;
		line-height: 24px;
		text-align: left;
	}
	.announcement-button {
		display: inline-block;
		margin-top: 0px;
		padding-right: 20px;
		padding-left: 20px;
		float: none;
	}
}

@media (max-width: 767px) {
	.section {
		background-image: -webkit-linear-gradient(270deg, #035b9b, #035b9b);
		background-image: linear-gradient(180deg, #035b9b, #035b9b);
	}
	.dif_block {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-right: 0px;
	}
	.button-4 {
		display: block;
		padding-right: 0px;
		padding-left: 0px;
		background-color: #fa4e09;
		color: #fff;
		font-size: 18px;
	}
	.button-4:active {
		background-color: #fff;
		color: #fa4e09;
	}
	.dif_block-heading {
		margin-top: 0px;
		margin-bottom: 30px;
		font-size: 40px;
	}
	.square-img {
		width: 80%;
		padding-top: 80%;
	}
	.hero {
		margin-bottom: 20px;
	}
	.text-block {
		float: none;
	}
	.button-6 {
		display: block;
		width: 100%;
		margin-left: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		float: none;
	}
	.text-block-3 {
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 26px;
	}
	.heading-17 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.heading-18 {
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 35px;
		letter-spacing: 1px;
	}
	.heading-19 {
		margin-top: 20px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-size: 34px;
	}
	.heading-21 {
		margin-top: 0px;
		padding-top: 20px;
	}
	.edge-text {
		margin-top: 30px;
	}
	.image-15 {
		margin-top: 20px;
	}
	.text-block-9 {
		margin-bottom: 10px;
	}
	.text-block-10 {
		margin-bottom: 10px;
	}
	.announcement-text {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
	}
	.announcement-button {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-right: 50px;
		padding-left: 50px;
	}
}

@media (max-width: 479px) {
	.dif_block-heading {
		margin-top: 20px;
	}
	.button-4 {
		display: block;
		padding-right: 0px;
		padding-left: 0px;
		background-color: #fa4e09;
		color: #fff;
		font-size: 18px;
	}
	.button-4:active {
		background-color: #fff;
		color: #fa4e09;
	}
	.button-5 {
		display: block;
	}
	.team-member {
		position: static;
		overflow: visible;
		padding: 0%;
		float: none;
		clear: none;
	}
	.text-block {
		display: block;
	}
	.heading-18 {
		font-size: 24px;
		line-height: 40px;
		letter-spacing: 2px;
	}
	.heading-19 {
		font-size: 30px;
		line-height: 40px;
		letter-spacing: 2px;
	}
	.tabs-menu {
		margin-bottom: 30px;
		padding-right: auto;
		padding-left: auto;
	}
	.heading-23 {
		margin-bottom: 20px;
		padding-top: 0px;
	}
	.tabbutton {
		width: auto;
	}
	.section-11 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.edge-text {
		margin-top: 20px;
	}
	.container-4 {
		margin-bottom: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.announcement-text {
		padding-right: 10px;
		padding-left: 10px;
		font-size: 12px;
		line-height: 20px;
	}
	.announcement-button {
		display: block;
		margin-right: 0px;
		margin-left: 0px;
	}
}
