.navbar {
  background-color: #fff; 
  padding-top: 10px; 
}

.pricing-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: 90px;
  margin-left: 90px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.nav-link {
	border: 4px solid transparent;
	font-weight: 300;
  text-decoration: none;
  transition: .3s;
}

.nav-link:hover {
	border-top-color: #035b9b;
}

.nav-link.teamlink:hover {
	border-top-color: #16af41;
}

.nav-link.pod:hover {
	border-top-color: #ca171e;
}

.nav-link.blog:hover {
	border-top-color: #c2c929;
}

.nav-link.login:hover {
	border-color: #fff;
	border-radius: 6px;
	background-color: #fa4e09;
	color: #fff;
}

.pricing-product {
  width: 370px;
  padding-top: 90px;
}

.pricing-product-m{
  width: 370px;
  background: #efefef
}
.pricing-hero {
  text-align: center;
}

.pricing-header-text-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pricing-header-button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pricing-head {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  font-weight: 400;
  letter-spacing: 3px;
}

.body {
  font-family: Roboto, sans-serif;
}

.pricing-hero-call {
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  display: none;
}

.pricing-header-button {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  color: white; 
  text-decoration: none;
  background-position: 100% 100%;
  background-size: 180% 200%;
  transition: all .5s ease;
}

.pricing-header-button:hover{
  background-position: 0 0; 
}

.pricing-teacher-call {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: auto;
  padding-bottom: auto;
  font-size: 22px;
}

.pricing-top {
  height:8px;}

.pricing-productname {
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  font-weight: 300;
}

.pricing-features {
  margin-bottom: 0px;
  margin-left: 30px;
  padding-left: 0px;
  font-size: 16px;
  text-align: left;
  list-style-type: disc;
}

.pricing-features-greyed {
  margin-bottom: 0px;
  margin-left: 30px;
  padding-left: 0px;
  color: #b4b4b4;
  font-size: 16px;
  text-align: left;
  text-decoration: line-through;
}

.pricing-product-desc-wrap {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(5, 2, 2, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 260px;
}

.blue{
  background-image: linear-gradient(60deg, #0048bb 0%, #09b9e4 100%);
  background-image: -webkit-linear-gradient(60deg, #0048bb 0%, #09b9e4 100%);
  background-image: -moz-linear-gradient(60deg, #0048bb 0%, #09b9e4 100%);
  background-image:-o-linear-gradient(60deg, #0048bb 0%, #09b9e4 100%);
}

.orange{
  background-image: linear-gradient(60deg, #fa4e09 0%, #fd800d 100%);
  background-image: -webkit-linear-gradient(60deg, #fa4e09 0%, #fd800d 100%);
  background-image: -moz-linear-gradient(60deg, #fa4e09 0%, #fd800d 100%);
  background-image:-o-linear-gradient(60deg, #fa4e09 0%, #fd800d 100%);
}

.yellow {
  background-image: linear-gradient(60deg, #e5a900 0%, #f1cd0d 100%);
  background-image: -webkit-linear-gradient(60deg, #e5a900 0%, #f1cd0d 100%);
  background-image: -moz-linear-gradient(60deg, #e5a900 0%, #f1cd0d 100%);
  background-image:-o-linear-gradient(60deg, #e5a900 0%, #f1cd0d 100%);
}

.pricing-product-desc {
  margin-bottom: 0px;
  padding: 15px 10px;
  color: #6b6767;
  font-size: 18px;
  line-height: 24px;
  height: 100px;
  display: inline-block; 
}

.pricing-price {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 50px;
  font-weight: 700;
}

.pricing-price-wrap {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.pricing-button {
  color: white; 
  padding: 12px 50px;
  border-radius: 10px; 
  font-size: 18px;
  font-weight: 300; 
  text-align: center; 
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .6);
  display: inline-block;
  cursor: default;
  background-position: 100% 100%;
  background-size: 180% 200%;
  transition: all .5s ease;
}
.pricing-button-wrap {
  height: 80px;
}

.pricing-button:hover{
  background-position: 0 0; 
}

.pricing-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 300;
  transition: all .2s ease-in-out;
}

.pricing-list-item:hover {
  transform: scale(1.05);
}

.pricing-wrap-mob {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.pricing-mob-icon-wrap {
  width: 400px;
  height: 400px;
  text-align: left;
}


@media (max-width: 1300px) {
  .pricing-wrap {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1025px) {
  .pricing-wrap {
    margin-left:10px;
    margin-right: 10px;
  }
  .pricing-product {
    width:260px;
  }
  .pricing-product-m{
    width: 340;
  }
}

@media (max-width: 991px) {
  .pricing-header-button-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .pricing-productname {
    font-size: 30px;
  }
  .pricing-product-desc {
    font-size: 16px;
  }
  .pricing-product-m{
    width:320px;
  }
  .pricing-product{
    width:260px;
  }
}

@media (max-width: 768px) {
  .pricing-wrap {
    display: none;
    margin-top: 20px;
    margin-left: 0px; 
    margin-right; 0px; 
  }
  .pricing-product {
    width: 160px;
  }
  .pricing-header-text-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }
  .pricing-header-button-wrap {
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pricing-head {
    font-size: 30px;
  }
  .pricing-hero-call {
    font-size: 16px;
  }
  .pricing-header-button {
    font-size: 20px;
  }
  .pricing-teacher-call {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .pricing-productname {
    font-size: 24px;
  }
  .pricing-product-desc {
    font-size: 14px;
  }
  .pricing-price {
    font-size: 46px;
  }
  .pricing-price-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pricing-wrap-mob {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 479px) {
  .pricing-header-button-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pricing-head {
    font-size: 30px;
  }
  .pricing-hero-call {
    font-size: 18px;
    line-height: 22px;
  }
  .pricing-header-button {
    margin-right: -18px;
    margin-left: -18px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

